@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--font-primary);
}
.spinner {
  box-sizing: border-box;
  display: block;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0.5, 0.5, 0.5) infinite;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

:root {
  --header-height: 5rem;
}
.custom-dots > li {
  width: 12px !important;
  height: 12px !important;
}
.custom-dots > li > button {
  height: 12px !important;
  border-radius: 9999px !important;
  background-color: #fcd34d !important;
}
